@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1F2937; /* Align with Tailwind primary color */
  --color-secondary: #F59E0B; /* Align with Tailwind secondary color */
  --color-bground: #F3F4F6; /* Light gray background */
  --color-fground: #0781a0; /* Dark gray foreground/text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bground: #1F2937; /* Dark background */
    --color-fground: #6c7b99; /* Light text */
    --color-primary: #4c909c; /* Dark theme color for primary */
    --color-secondary: #ffffff; /* Dark theme color for secondary */
  }
}

body {
  color: var(--color-fground);
  background: var(--color-bground);
  font-family: Arial, Helvetica, sans-serif;
}
